<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preguntas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="row" id="app">
            <div class="col-sm-12">
                <h1>{{ message }}</h1>
                <div v-if="mostrar">
                    <span v-bind:title="message">
                        Hover your mouse over me for a few seconds to see my dynamically bound title!
                    </span>
                    <ul>
                        <tv-show v-for="(show,index) in tvshows" :key="index" :name="show.name" :season="show.season">
                        </tv-show>
                    </ul>
                    <ul>
                        <li v-for="(shows,index) in tvshows" :key="index">
                            <strong> {{ shows.name }} </strong> ({{ shows.season }})
                        </li>
                    </ul>
                </div>
                <div v-else> No hay Datos!</div>
                <button class="btn btn-danger" v-on:click="toogleMostrar()">AAAAAAAAAAAAAAAAAA</button>
            </div>
            <div class="col-sm-12">
                    <br>    
                <span>
                    <input type="text" v-model='message'>
                </span>
                <button class="btn btn-primary" v-on:click="reverseMessage()">LOOOOOOOOOOOOOOOOL</button>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/custom.js"></script>
    <script>
    </script>
</body>

</html>